.tab-bar{
    background-color: black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 0;
    box-shadow: 0 0 30px 5 rgba(0 0 0 /20%);
    background-color: white;

    ion-tab-button{
        background-color: red;
        border-radius: 50px;
    }
}